---
import AsText from './Prismic/AsText.astro'
import Excerpt from './Prismic/Excerpt.astro'

const { data } = Astro.props
const image = data.featured_project_thumbnail ? data.featured_project_thumbnail : data.data.image 
const portfolioData = "featured_project" in data ? data.featured_project.data : data.data
const uid = "uid" in data ? data.uid : data.featured_project.uid
---

<div class="col-4 col-6-medium col-12-small">
    <section class="box">
        <a href={`/portfolio/${uid}`} class="image featured"><img src={image.url} alt={image.alt} style="max-height: 250px; object-fit: cover; object-position: 50% 65%;" /></a>
        <header>
            <h3><AsText data={portfolioData.title}/></h3>
        </header>
        <p class="excerpt"><Excerpt data={portfolioData.description}/></p>
        <footer>
            <ul class="actions">
                <li><a href={`/portfolio/${uid}`} class="button alt">Find out more</a></li>
            </ul>
        </footer>
    </section>
</div>