---
import ArticleFooter from '../components/ArticleFooter.astro';
import SiteSidebar from '../components/SiteSidebar.astro';
import ThemeToggle from '../components/ThemeToggle.tsx';
import DocSidebar from '../components/DocSidebar.tsx';
import MenuToggle from '../components/MenuToggle.tsx';

const { content = {} } = Astro.props;
const headers = content?.astro?.headers;
const currentPage = Astro.request?.url?.pathname;
let currentFile;
let githubEditUrl;
if (currentPage) {
  currentFile = currentPage === '/' ? 'src/pages/index.md' : `src/pages${currentPage.replace(/\/$/, "")}.md`;
  githubEditUrl = `https://github.com/snowpackjs/astro/blob/main/docs/${currentFile}`;
}
---

<html lang="{content.lang ?? 'en-us'}" class="initial">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{content.title}</title>
    
    <link rel="stylesheet" href="/theme.css" />
    <link rel="stylesheet" href="/code.css" />
    <link rel="stylesheet" href="/index.css" />
    <script src="/theme.js" />
    <link rel="icon" 
          type="image/svg+xml" 
          href="/favicon.svg">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap" rel="stylesheet">

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: var(--theme-navbar-height) 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        z-index: 10;
        height: var(--theme-navbar-height);
        width: 100%;
        background-color: var(--theme-navbar-bg);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1001;
      }

      .layout {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 
          minmax(var(--gutter), 1fr) 
          minmax(0, var(--max-width)) 
          minmax(var(--gutter), 1fr);
        overflow-x: hidden;
      }

      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1em;
        z-index: -1;
      }

      .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 82em;
        padding: 0 1rem;
      }

      .layout :global(> *) {
        width: 100%;
        height: 100%;
      }

      .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        padding: 0;
      }

      #sidebar-site {
        position: fixed;
        background-color: var(--theme-bg);
        z-index: 1000;
      }

      #article {
        padding: var(--doc-padding) var(--gutter);
        grid-column: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .content {
        padding: 0;
        max-width: 75ch;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .content > main {
        margin-bottom: 4rem;
      }

      #sidebar-content {
        display: none;
      }
      .theme-toggle-wrapper {
        display: none;
      }
      #sidebar-site {
        display: none;
      }
      :global(.mobile-sidebar-toggle) {
        overflow: hidden;
      }
      :global(.mobile-sidebar-toggle) #sidebar-site {
        display: block;
        top: 0;
      }
      @media (min-width: 60em) {
        .layout {
          overflow: initial;
        }
        .logo {
          width: auto;
          margin: 0;
          z-index: 0;
        }
        #sidebar-site {
          display: flex;
        }
        :global(.mobile-sidebar-toggle) {
          overflow: initial;
        }
        :global(.mobile-sidebar-toggle) #sidebar-site {
          display: flex;
        }
        .menu-toggle {
          display: none;
        }
        .layout {
          grid-template-columns: 
            20rem 
            minmax(0, var(--max-width));
          gap: 1em;
        }
        #article {
          grid-column: 2;
        }
        #sidebar-site {
          position: sticky;
        }
        #sidebar-content {
          /* display: flex; */
          grid-column: 3;
        }
        .theme-toggle-wrapper {
          display: block;
        }
      }

      @media (min-width: 82em) {
        .layout {
          grid-template-columns: 
            20rem 
            minmax(0, var(--max-width)) 
            18rem;
          padding-left: 0;
          padding-right: 0;
          margin: 0 auto;
        }

        #sidebar-site {
          grid-column: 1;
        }
        #article {
          grid-column: 2;
        }
        #sidebar-content {
          display: flex;
          grid-column: 3;
        }
        .nav-wrapper {
          padding: 0;
        }
      }

    </style>
  </head>

  <body>
    <header>
      <nav class="nav-wrapper">
        <div class="menu-toggle">
            <MenuToggle client:idle/>
        </div>

        <div class="logo flex">
          <a id="site-title" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="193" height="256" viewBox="0 0 193 256" fill="none">
              <path fill="url(#paint0_linear)" fill-rule="evenodd" d="M131.496 18.929c1.943 2.413 2.935 5.67 4.917 12.181l43.309 142.27a180.277 180.277 0 00-51.778-17.53L99.746 60.56a3.67 3.67 0 00-7.042.01l-27.857 95.232a180.224 180.224 0 00-52.01 17.557l43.52-142.281c1.989-6.502 2.983-9.752 4.927-12.16a15.999 15.999 0 016.484-4.798c2.872-1.154 6.271-1.154 13.07-1.154h31.085c6.807 0 10.211 0 13.085 1.157a16 16 0 016.488 4.806z" clip-rule="evenodd"/>
              <path fill="#FF5D01" fill-rule="evenodd" d="M136.678 180.151c-7.14 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.962 10.367-1.962 13.902 0 0-1.055 17.355 11.016 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.973-19.87 5.977-3.79 12.616-8.001 17.192-16.449a31.013 31.013 0 003.744-14.82c0-3.299-.513-6.479-1.463-9.463z" clip-rule="evenodd"/>
              <path fill="url(#paint1_linear)" fill-rule="evenodd" d="M136.678 180.151c-7.14 6.105-21.39 10.268-37.804 10.268-20.147 0-37.033-6.272-41.513-14.707-1.602 4.835-1.962 10.367-1.962 13.902 0 0-1.055 17.355 11.016 29.426 0-6.268 5.081-11.349 11.349-11.349 10.743 0 10.731 9.373 10.721 16.977v.679c0 11.542 7.054 21.436 17.086 25.606a23.27 23.27 0 01-2.339-10.2c0-11.008 6.463-15.107 13.973-19.87 5.977-3.79 12.616-8.001 17.192-16.449a31.013 31.013 0 003.744-14.82c0-3.299-.513-6.479-1.463-9.463z" clip-rule="evenodd"/>
              <defs>
                <linearGradient id="paint0_linear" x1="145.087" x2="96.279" y1="5.423" y2="173.38" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#fff"/>
                  <stop offset="1" stop-color="#F9FAFB"/>
                </linearGradient>
                <linearGradient id="paint1_linear" x1="168.824" x2="126.553" y1="130.49" y2="218.982" gradientUnits="userSpaceOnUse">
                  <stop stop-color="#FF1639"/>
                  <stop offset="1" stop-color="#FF1639" stop-opacity="0"/>
                </linearGradient>
              </defs>
            </svg>
            <h1><span class="sr-only">Astro</span>Documentation</h1>
          </a>
        </div>

        <div class="theme-toggle-wrapper">
          <ThemeToggle client:idle />
        </div>
      </nav>
    </header>

    <main class="layout">
      <aside class="sidebar" id="sidebar-site">
        <SiteSidebar currentPage={currentPage?.slice(1) ?? ''} />
      </aside>
      <div id="article">
        <article class="content">
          <main>
            <h1 class="content-title" id="overview">{content?.title}</h1>
            <slot />
          </main>
          {currentPage && <ArticleFooter path={currentFile} />}
        </article>
      </div>
      <aside class="sidebar" id="sidebar-content">
        {currentPage && <DocSidebar client:idle headers={headers} editHref={githubEditUrl} />}
      </aside>
    </main>

    <script type="module" src="/nav.js" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TEL60V1WM9"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-TEL60V1WM9');
    </script>
  </body>
</html>
