---
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import ArticleNavigationButton from './ArticleNavigationButton.astro';
import TableOfContents from '../RightSidebar/TableOfContents.tsx';
import { getLanguageFromURL } from '../../util.ts';
import { SIDEBAR } from '../../config.ts';
const { content, githubEditUrl, currentPage } = Astro.props;
const title = content.title;
const headers = content.astro?.headers;
const langCode = getLanguageFromURL(currentPage);
const links = SIDEBAR[langCode].filter((x) => x.link && typeof x.header === 'undefined');
// handle cases with a trailing slash or not
const index = links.findIndex((x) => `/${x.link}/` === currentPage || `/${x.link}` === currentPage);
const next = index !== -1 ? (index === links.length - 1 ? null : links[index + 1]) : null;
const previous = index !== -1 ? (index === 0 ? null : links[index - 1]) : null;
---

<article id="article" class="content">
	<section class="main-section">
		<h1 class="content-title" id="overview">{title}</h1>
		{headers && (
			<nav class="block lg-hidden">
				<TableOfContents client:media="(max-width: 50em)" headers={headers} />
				<MoreMenu editHref={githubEditUrl} />
			</nav>
		)}
		<slot />
	</section>
	{(previous || next) && (
		<aside class="next-previous-nav">
			{previous && <ArticleNavigationButton rel="prev" item={previous} />}
			{next && <ArticleNavigationButton rel="next" item={next} />}
		</aside>
	)}
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		margin: auto;
	}
	.content > section {
		margin-bottom: 4rem;
	}
	.block {
		display: block;
	}
	.next-previous-nav {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		gap: 1rem;
		margin-bottom: 1.5rem;
	}

	@media (min-width: 72em) {
		.lg-hidden {
			display: none;
		}
	}
</style>
