---
import { Sprite } from 'astro-icon';
import { mentions } from '../mentions.ts';
const { name } = Astro.props;

const author = mentions[name];
if (!author) {
    throw new Error(`Could not find author "${name}"!`)
}
---

<span class="author">
    <img aria-hidden="true" src={author.avatar} alt={author.name} width="32" height="32" loading="lazy">
    <span>{author.name}</span>
    <a href={author.twitter} title={`Follow ${author.name} on Twitter`}>
        <span>
            <Sprite role="img" pack="mdi" name="twitter" width="20" height="20" />
        </span>
    </a>
</span>

<style>
    .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        font: inherit;
    }
    img {
        --size: 2rem;
        display: block;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.5em;
    }
    a, a > span {
        --size: 1.5rem;
        width: var(--size);
        height: var(--size);
        display: flex;
        align-items: center;
        justify-content: center;
        color: inherit;
    }
    a {
        margin-left: 0.25em;
        color: var(--color-dusk);
        opacity: 0.7;
    }
    a:hover,
    a:focus {
        color: var(--color-dusk);
        opacity: 1;
    }
</style>
