---
import ContributorAvatar from './ContributorAvatar.astro';
import ArrowLink from '../components/ArrowLink.astro'; 
import contributors from '../data/contributors.json';

export interface Props {
    id?: string;
}

const { id } = Astro.props as Props;

const {staff, l3, l2, l1} = contributors;
---
<ul class="avatar-list" {id}>
    {staff.map(obj => <li><ContributorAvatar size={72} obj={obj} type="staff" /></li>)}
    {l3.map(obj => <li><ContributorAvatar size={72} obj={obj} type="l3" /></li>)}
    {l2.map(obj => <li><ContributorAvatar size={72} obj={obj} type="l2" /></li>)}
    {l1.map(obj => <li><ContributorAvatar size={72} obj={obj} highlight="255, 255, 255" /></li>)}
    <ArrowLink always href="https://github.com/withastro/astro/graphs/contributors">See all 200+ contributors</ArrowLink>

</ul>
<style>
    .avatar-list {
        list-style: none;    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5rem;
        margin: 2.5rem -2.5rem;
    }
</style>