---
import { mentions } from '../mentions.ts';
const { name } = Astro.props;

const mention = mentions[name];
if (!mention) {
    throw new Error(`Could not find mentioned user "${name}"!`)
}
---

<span class="mention">
    <a href={mention.twitter} title={`Follow ${mention.name} on Twitter`}>
        <img aria-hidden="true" alt={mention.name} src={mention.avatar} loading="lazy">
        <span>{mention.name}</span>
    </a>
</span>

<style>
    .mention {
        --padding-block: 0.125rem;
        --padding-inline: 0.33rem;
        display: inline-flex;
        align-self: baseline;
        white-space: nowrap;
        margin: calc(var(--padding-block) * -1) calc(var(--padding-inline) / -2);
        background: var(--color-dawn);
        text-decoration: none;
        border-radius: 2rem;
    }
    a {
        display: flex;
        font-family: var(--font-display);
        letter-spacing: 0.5px;
        font-size: 0.8em;
        flex-direction: row;
        align-items: center;
        padding: var(--padding-block) var(--padding-inline);
        text-decoration: none;
        color: var(--color-purple);
        border-radius: inherit;
        box-shadow: var(--shadow-sm);
    }
    a:hover,
    a:focus {
        background: var(--color-purple);
        color: white;
    }
    .mention img {
        --size: 1rem;
        display: block;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.25em;
    }
</style>
