---
const { class: className, background = 'color-tan', offset = 0, size = "lg", pad = 1 } = Astro.props;
let style = `--pad: ${pad}; `;
if (offset !== 0) {
    style += `--offset-block: ${offset};`
}
---

<div class="container" style={style}>
    <article class={`panel elevation-xl size-${size} ${className}`} style={`--background: ${background};`}>
        {Astro.slots.title && <div class="title">
            <slot name="title" />
        </div>}
        <slot />
    </article>
</div>

<style>
    .container {
        position: relative;
        z-index: 1;
        margin-top: calc(var(--offset-block, 0) * -1rem);
    }
    .panel {
        --offset-inline: 0.5rem;
        background: var(--background);
        border-radius: var(--corner-md);
        padding: calc(1.25rem * var(--pad, 1)) 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: calc(var(--offset-inline) * -1);
        margin-right: calc(var(--offset-inline) * -1);
    }
    .panel.size-md {
        max-width: 64rem;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 45rem) {
        .panel {
            padding: calc(3.25rem * var(--pad, 1)) 2rem;
            --offset-inline: 1.625rem;
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: var(--color-dusk);
    }

    .panel > :not(p):nth-child(2) {
        margin-top: 3rem;
    }
</style>
