---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, permalink} = content;
---
<html>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate}>
      <slot />
    </BlogPost>
  </body>
</html>

