---
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import PostPreview from '../../components/PostPreview.astro';
import Pagination from '../../components/Pagination.astro';

// page
let { page = 1 } = import.meta.request.params;
let title = `Muppet Blog (Page ${page})`;
let description = 'An example blog on Astro';

// posts
import authorData from '../../data/authors.json';

const PER_PAGE = 3;
const postData = import.meta.collection('../post/*.md');
postData.sort((a, b) => new Date(b.date) - new Date(a.date)); // new -> old
const start = (page - 1) * PER_PAGE;
const end = start + PER_PAGE
const posts = postData.slice(start, end);
const hasNext = postData.length > end;
---

<html>
  <head>
    <title>{title}</title>
    <MainHead title={title} description={description} />
  </head>

  <body>
    <Nav />

    <main class="wrapper">
      <h1>Recent posts</h1>
      {posts.map((post) => <PostPreview post={post} author={authorData[post.author]} />)}
    </main>

    <footer>
      <Pagination page={page} hasNext={hasNext} />
    </footer>
  </body>
</html>
