---
import { Markdown } from 'astro/components';
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogPost from '../../components/BlogPost.astro';

let title = 'Introducing the Astro REPL';
let description = 'The power of Astro, right in your browser.';
let publishDate = 'September 17, 2021';
let permalink = 'https://astro.build/blog/astro-repl/astro-repl.png';
let lang = 'en';
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} canonicalURL={permalink} image="https://astro.build/assets/blog/astro-repl/astro-repl-social.jpg" />
    <link rel="stylesheet" href={Astro.resolve('../../scss/blog.css')} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author="drew" heroImage="/assets/blog/astro-repl/astro-repl-hero.jpg" publishDate={publishDate} heroImageAlt="Hills with stars above">
      <Markdown>
          The Astro team proudly presents the new [Astro REPL:](https://astro.build/play) compile Astro right in your browser. Use it to explore Astro's HTML-based component language, debug issues, or even prototype an entire webpage. It's powered by Astro’s **new WASM compiler** (written in Go) that runs anywhere and can rebuild files in an instant.

          ![astro](/assets/blog/astro-repl/astro-repl-screenshot.jpg)

           Try it today at [astro.build/play →](https://astro.build/play)

          To learn more about our new compiler, [join us on Discord](https://astro.build/chat) and tune in to [Astro Demo Days](https://www.youtube.com/watch?v=-ExcBJrXOd8) next Monday, September 20, 2021 at 11am PST.
      </Markdown>
    </BlogPost>
  </body>
</html>
