---
import { Markdown } from 'astro/components';
import BaseHead from '../../components/BaseHead.astro';
import BlogHeader from '../../components/BlogHeader.astro';
import BlogPost from '../../components/BlogPost.astro';

let title = 'Introducing the Astro REPL';
let description = 'The power of Astro, right in your browser.';
let publishDate = 'September 17, 2021';
let permalink = 'https://astro.build/blog/astro-repl/astro-repl.png';
let lang = 'en';
---

<html lang={ lang ?? 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve('../../scss/blog.css')} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author="drew" heroImage="/assets/blog/astro-repl/astro-repl-hero.jpg" publishDate={publishDate}>
      <Markdown>
          The Astro team proudly presents the new Astro REPL: compile Astro right in your browser. Use it to explore Astro's HTML-based component language, debug issues, or even prototype an entire webpage. It's all powered by Astro’s new WASM compiler (written in Go) that can rebuild any Astro file in an instant.

          Try out the new Astro REPL today at [astro.build/play](https://astro.build/play). 

          [Join us on Discord](https://astro.build/chat) and tune in for [Astro Demo Days](https://www.youtube.com/watch?v=-ExcBJrXOd8) (next Monday, September 20, 2021 at 11am PST) to learn more about our new compiler.
      </Markdown>
    </BlogPost>
  </body>
</html>
