---
let title = 'astro.build';
let description = 'web development, evolved.';
let permalink = 'https://astro.build/';
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" /> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" /> -->
    <!-- <link rel="manifest" href="/favicon/site.webmanifest" /> -->

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content="{description}" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={permalink} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://astro.build/social.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={permalink} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="https://astro.build/social.png" />

    <!-- Fonts -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap" rel="stylesheet"> -->

    <!-- Styles -->
    <style lang="scss">
      body {
        background-color: #111;
        background-image: url("/cswbd0.svg");
        text-align: center;
      }
      .centered-logo {
        text-align: center;
        background: #FFFC;
        display: inline-block;
        border: 2px solid #666;
        border-radius: 20px;
        padding: 2rem;
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 340px;
        height: 340px;
        transition: transform 200ms ease-in-out;
      }
      .centered-logo:hover {
        transform: scale(0.98);
      }
      .header {
        font-family: 'Roboto Mono', monospace;
        color: white;
        font-size: 52pt;
        margin-left: -3rem;
      }
      .wait-list-input {
        font-family: 'Roboto Mono', monospace;
        display: block;
        margin: 0rem auto;
        box-sizing: inherit;
        font-size: 100%;
        width: 344px;
        -webkit-appearance: none;
        border-radius: 6px;
        padding: 0 12px;
        background: #EEE;
        color: #222;
        height: 42px;
        line-height: normal;
        order: 1;
        outline: none;
        transition: border-color .15s ease;
      }
      .wait-list-text {
        font-family: 'Roboto Mono', monospace;
        display: block;
        box-sizing: inherit;
        font-size: 16pt;
        -webkit-appearance: none;
        border-radius: 6px;
        padding: 0 12px;
        color: #EEE;
        line-height: normal;
        order: 1;
        outline: none;
        transition: border-color .15s ease;
      }
    </style>
  </head>
  <body>
    <div class="centered-logo">
      <svg width="344" height="340" viewBox="0 0 86 85" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="43.0005" cy="42.4265" r="40" transform="rotate(45 43.0005 42.4265)" fill="black"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M54.572 20.0569L65.4131 30.8979L47.754 64.0134C46.5495 60.183 44.7599 56.4968 42.3852 53.0949L53.3315 32.9475L52.4685 32.0845L32.3842 43.0781C28.971 40.6874 25.2703 38.8867 21.4241 37.676L54.572 20.0569Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M37.9733 57.684C35.1799 58.4766 32.0514 57.7734 29.8524 55.5744C27.6534 53.3754 26.9502 50.2471 27.7427 47.4537C27.3662 47.71 27.0083 48.0052 26.6744 48.3391C22.1409 52.8725 22.4943 62.9325 22.4943 62.9325C22.4943 62.9325 32.5239 63.3164 37.0878 58.7525C37.4217 58.4186 37.7169 58.0605 37.9733 57.684Z" fill="white"/>
      </svg>
    </div>
  </body>
</html>
