---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import PostPreview from '../components/PostPreview.astro';
import Pagination from '../components/Pagination.astro';

// page
let title = 'Don’s Blog';
let description = 'An example blog on Astro';
let canonicalURL = Astro.request.canonicalURL;

// collection
import authorData from '../data/authors.json';

export function createCollection() {
  /** Load posts */
  let allPosts = Astro.fetchContent('./post/*.md');
  return {
    paginate: true,
    route: `/author/:author/:page?`,
    paths() {
      let allAuthorsUnique = [...new Set(allPosts.map(p => p.author))];
      return allAuthorsUnique.map(author => ({params: {author}}))
    },
    async props({ params, paginate }) {
      /** filter posts by author, sort by date */
      const filteredPosts = allPosts
        .filter((post) => post.author === params.author)
        .sort((a, b) => new Date(b.date) - new Date(a.date));
      return {
        posts: paginate(filteredPosts, {pageSize: 1}),
      }
    },
  };
}


const { posts } = Astro.props;
const { params } = Astro.request;
const author = authorData[posts.data[0].author];
---

<html lang="en">
  <head>
    <title>{title}</title>
    <MainHead
      title={title}
      description={description}
      image={posts.data[0].image}
      canonicalURL={canonicalURL}
      prev={posts.url.prev}
      next={posts.url.next}
    />

    <style lang="scss">
      .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3em;
        letter-spacing: -0.04em;
        margin-top: 2rem;
        margin-bottom: 0;
      }

      .avatar {
        width: 1em;
        height: 1em;
        margin-right: 0.5em;
        border-radius: 50%;
        overflow:hidden;

        &-img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .count {
        font-size: 1em;
        display: block;
        text-align: center;
      }
    </style>
  </head>

  <body>
    <Nav title={title} />

    <main class="wrapper">
      <h2 class="title">
        <div class="avatar"><img class="avatar-img" src={author.image} alt=""}></div>
        {author.name}
      </h2>
      <small class="count">{posts.start + 1}–{posts.end + 1} of {posts.total}</small>
      {posts.data.map((post) => <PostPreview post={post} author={author} />)}
    </main>

    <footer>
      <Pagination prevUrl={posts.url.prev} nextUrl={posts.url.next} />
    </footer>
  </body>
</html>
