---
import {templatesList as data} from '../templatesList.ts'
---
{data.map(category=>(
    <div>
        <h2 id={category.title}>
         {category.title}
        </h2>
        {
            category.children.map(item=>(
                <article class="cards" id={item.text}>
                    <h3 id={item.text}>
                        {item.text}
                    </h3>
                    <p>
                        {item.blurb}
                    </p>
                    <pre data-lang='bash'>
                        {item.command}
                    </pre>
                    <a href={item.github} target="_blank" rel="noopener noreferrer">
                        View in Github
                    </a>
                    {
                        item.demo.length != 0 ? 
                        <a href={item.demo} target="_blank" rel="noopener noreferrer">
                            Online Demo
                        </a>
                        :""
                    }
                </article>
            ))
        }
    </div>        
))}

<style lang="scss">

.cards{
    padding:1rem 0;
    p{
        padding-bottom:0.5rem;
    }
    a{
        padding-inline-end: 1.5rem;
    }
}
</style>