---
import { sidebar } from '../config.ts';
const {currentPage} = Astro.props;
---


<nav>
  <ul class="nav-groups">  
    {sidebar.map(category => (
      <li>
        <div class="nav-group">
          <h2 class="nav-group-title">{category.text}</h2>
          <ul>
            {category.children.map(child => (
              <li class={`nav-link ${currentPage === child.link ? 'is-active' : ''}`}><a href={`${Astro.site.pathname}${child.link}`}>{child.text}</a></li>
            ))}
          </ul>
        </div>
      </li>
    ))}
  </ul>
</nav>

<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    var target = document.querySelector('.nav-link.is-active');
    if (target && (target.offsetTop > (window.innerHeight - 100))) {
      document.querySelector('.nav-groups').scrollTop = target.offsetTop;
    }
  });
</script>

<style>
  nav {
    width: 100%;
    margin-right: 1rem;
  }
  .nav-groups {
    height: 100%;
    padding: 2rem 0;
    overflow-x: visible;
    overflow-y: auto;
    max-height: 100vh;
  }

  .nav-groups > li + li {
    margin-top: 2rem;
  }

  .nav-groups > :first-child {
    padding-top: 2rem;
  }

  .nav-groups > :last-child {
    padding-bottom: 2rem;
    margin-bottom: var(--theme-navbar-height);
  }

  .nav-group-title {
    font-size: 1.0rem;
    font-weight: 700;
    padding: 0.1rem 1rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .nav-link a {
    font-size: 1.0rem;
    margin: 1px;
    padding: 0.3rem 1rem;
    font: inherit;
    color: inherit;
    text-decoration: none;
    display: block;
  }
  .nav-link a:hover,
  .nav-link a:focus {
    background-color: var(--theme-bg-hover);
  }

  .nav-link.is-active a {
    color: var(--theme-text-accent);
    background-color: var(--theme-bg-accent);
    font-weight: 600;
  }

  :global(:root.theme-dark) .nav-link.is-active a {
    color: var(--color-white);
  }

  @media (min-width: 60em) {
    .nav-link a {
      border-radius: 999px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .nav-groups {
      padding: 0;
    }
  }

  @media (min-width: 86.25em) {
    .nav-link a {
      border-radius: 8px;
    }
  }

</style>
