---
// Component Imports
import Tour from '../components/Tour.astro';
import {Icon, Image, Font} from 'astro/components';

// LOCAL ASSETS:
import ImageBook from '../assets/book.png';
	// ImageBook = {url, height, width}
	// <Image use={ImageBook} />
import IconBook from '../assets/book.svg';
	// IconBook = {raw}
	// <Icon use={IconBook} />
import robotoFont400 from '../assets/fonts/roboto-slab-v22-latin-regular.woff2';
	// robotoFont = {url}
	// <Font use={robotoFont} family={} weight={} style={} />

// REMOTE ASSETS:

// Images: 
// 		N/A, people can create custom instegrations. (ex: unsplash)
// Fonts: 
//		N/A, added via config instead.
// Icons 1: 
import {IconRocket} from 'astro/icons';
// Icons 2 - Fontawesome Free: 
//    Use astro-icon or https://github.com/antfu/unplugin-icons
// Icons 3 - Fontawesome Pro, advanced: 
//		N/A, people can create a custom integration.


// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style global>
		@import "../styles/global.css";
		@import "../styles/home.css";
	</style>
	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		body {
			font-family: 'Roboto Slab';
		}
	</style>
	<!-- <Font use={robotoFont400} family="Roboto Slab" weight={400} style="normal" /> -->
</head>
<body>
	<main>
		<header>
			<div>
				<img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
				<Icon use={IconBook} />
				<Icon use={IconRocket} />
				<Image use={ImageBook} />
				<Font use={robotoFont400} family={'Roboto'} weight={400} /> 
			</div>
		</header>

		<Tour />

		<!--

		You can also use imported framework components directly in your markup!
		
		Note: by default, these components are NOT interactive on the client.
		The `:visible` directive tells Astro to make it interactive.
		
		See https://docs.astro.build/core-concepts/component-hydration/ 

		-->

		<!-- ASTRO:COMPONENT_MARKUP -->
	</main>
</body>
</html>
