---
import { Markdown } from 'astro/components';
const title = 'INTERPOLATED';
const content = await fetch('https://raw.githubusercontent.com/snowpackjs/snowpack/main/README.md').then(res => res.text());
---

<!-- Basic -->
<Markdown>
# Hello world!
</Markdown>

    <!-- Indented -->
    <Markdown>
    # Hello indent!
    </Markdown>

<!-- Interpolation -->
<Markdown>
# Hello {title}!
</Markdown>


        <!-- Can I break this? -->
        <Markdown>
          # I cannot!

          <strong>Dope</strong>

          `nice`

          ```
          plain fence
          ```

          ```html
          don't <div>me</div> bro
          ```

          ```js
          Astro.fetchContent()
          ```

          ### cool stuff?
          ```astro
          {'can\'t interpolate'}
          {}
          {title}
          
          Do I break? <Markdown> </Markdown>
          ```
        </Markdown>

<!-- external content -->
<Markdown>{content}</Markdown>

<!-- external with newlines -->
<Markdown>
  {content}
</Markdown>

        <!-- external with indentation -->
        <Markdown>
          {content}
        </Markdown>

<!-- Meta -->

<Markdown>
```astro
---
export let title = 'Jeanine White: Personal Site';
---

<meta charset="UTF-8">
<title>{title}</title>
<link rel="stylesheet" type="text/css" href="/app.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap" rel="stylesheet">
```
</Markdown>
