---
import Subnav from '../components/Subnav.astro';
import Menu from '../components/Menu.astro';
import BaseHead from '../components/BaseHead.astro';
import BaseLayout from '../components/BaseLayout.astro';

export let content: any;
---

<!doctype html>
<html>

<head>
  <BaseHead title={content.title} description={content.description} permalink="TODO" />
</head>

<body>
  <BaseLayout>
    <div class="container">
      <section class="snow-view__docs has-subnav">

        <aside id="nav-primary" class="snow-view-nav">
          <Menu />
        </aside>

        <Subnav title={content.title} headers={content.headers} />

        <article class="snow-view-main">
          <div class="content">
            <h2 class="content-title">
              {content.title}
            </h2>
            <div class="content-layout">
              <div class="content-body">
                <slot></slot>
              </div>
            </div>
          </div>
        </article>

      </section>
    </div>
  </BaseLayout>
</body>

</html>