---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = {
	release: CollectionEntry<'releases'>;
};

const { release } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={release.data.title}
			description={release.data.description}
			image={release.data.image}
		/>
	</head><body>
		<div class="glow"></div>
		<Header />
		<div class="post single" transition:persist transition:name="post">
			<div class="version_wrapper">
				<div class="version_info">
					<div class="version_number">{release.data.versionNumber}</div>
					<FormattedDate class="date" date={release.data.date} />
				</div>
			</div>
			<div class="content">
				<slot />
			</div>
		</div>
		<Footer />
	</body>
</html>
