---
import MainHead from '../../components/MainHead.astro';
import Nav from '../../components/Nav.astro';
import PostPreview from '../../components/PostPreview.astro';
import authorData from '../../data/authors.json';

export async function getStaticPaths() {
	const allPosts = await Astro.glob('../post/*.md');
	let allAuthorsUnique = [...new Set(allPosts.map((p) => p.frontmatter.author))];
	return allAuthorsUnique.map((author) => ({ params: { author }, props: { allPosts } }));
}

const { allPosts } = Astro.props;
const title = 'Don’s Blog';
const description = 'An example blog on Astro';

/** filter posts by author, sort by date */
const posts = allPosts.filter((post) => post.frontmatter.author === Astro.params.author).sort((a, b) => new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf());
const author = authorData[posts[0].frontmatter.author];
---

<html lang="en">
	<head>
		<title>{title}</title>
		<MainHead {title} {description} image={posts[0].frontmatter.image} canonicalURL={Astro.canonicalURL.toString()} />

		<style lang="scss">
			.title {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 3em;
				letter-spacing: -0.04em;
				margin-top: 2rem;
				margin-bottom: 0;
			}

			.avatar {
				width: 1em;
				height: 1em;
				margin-right: 0.5em;
				border-radius: 50%;
				overflow: hidden;

				&-img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.count {
				font-size: 1em;
				display: block;
				text-align: center;
			}
		</style>
	</head>

	<body>
		<Nav {title} />

		<main class="wrapper">
			<h2 class="title">
				<div class="avatar"><img class="avatar-img" src={author.image} alt="" /></div>
				{author.name}
			</h2>
			{posts.map((post) => <PostPreview post={post} author={author} />)}
		</main>
	</body>
</html>
